<head>
    <title>Party Creation</title>
    <style>
        .submission-form{
            border: solid #5f788a 2px;
            padding: 10px;
            border-radius: 15px;
        }
        .forminput{
            display: block;
            border-radius: 5px;
        }
        .forminputaddress{
            height: 10vh;
            width: 45vh;
        }
    </style>
</head>
{% extends 'sales/base.html' %}
{% block content %}
<form class='submission-form' method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Submit</button>
</form>
{% endblock content %}