<head>
    <title>Stock Item List</title>
    <style>
        .table-content {
            color: #5f788a;
            height: 50px;
            width: 50vw;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }
    </style>
</head>
{%extends 'sales/base.html'%}
{% block content %}
<div class="list-group">
    {% for stockitems in object_list %}
    <div class="row border-dark list-group-item list-group-item">
        <div class="col">{{ stockitems.name }}</div>
        <div class="col my-2"><a href="/update-stock-item/{{ stockitems.id }}"><button class="btn btn-outline-dark" type="submit">UPDATE</button></a></div>
    </div>
    {% endfor %}
</div>
{% if is_paginated %}
{% if page_obj.has_previous %}
<div class="btn-group">
    <a class="btn btn-outline-secondary my-4 mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-secondary my-4 mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
</div>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-secondary my-4 mb-4" href="?page={{num}}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'+3' %} <a
    class="btn btn-outline-secondary my-4 mb-4" href="?page={{num}}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <div class="btn-group">
        <a class="btn btn-outline-secondary my-4 mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
        <a class="btn btn-outline-secondary my-4 mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    </div>
    {% endif %}
    {% endif %}
    <br>
    {% endblock content %}